


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    overflow-x: hidden;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.logoo {
    background-image: url(billeder/desktop-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
        width: 10%;
    height: 100px;
}

.nav-list{
    list-style: none;
    display: flex;
    
    align-items: center;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
}


/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .logoo {
    background-image: url(billeder/Logo-hjerte.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
        max-width: 10%;
    height: 60px;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

/*Apply styles after scroll end*/




.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}

.titel {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: white;
}
/* Hero end*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700'); /* import Montserrat font  */

@keyframes topFadeOut {
    0% {
    
      top: -20rem;
      opacity: 0;
    }
  
    75% {
      
      top: 0%;
      opacity: 1;
    }
  
    100% {
        top: 0%;
      opacity: 1;
    }
  }

#home-container{
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr; /* for left and right sections */
    grid-gap: 10px;
    grid-template-areas: 
            ". left right .";
    height: 100%;   
    z-index: 99;
    transition: 1s;
    position: relative;     
    animation-name: topFadeOut;
    animation-duration: 3s;
}

#inner{
    grid-area: left;
    align-self: center;
    justify-self: center;
    
}

#illustration{
    grid-area: right;
    align-self: center;
    justify-self: center;
    width: 80%;
    padding: 30%;
}

img#logo{
    width: 120px;
    margin-bottom: 1.6em;
}

h1{
    text-transform: uppercase;
    color: #535353;
    margin-bottom: .2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: white;
}

p.subtitle{
    font-size: 1.4em;
    color: #858585;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.button{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    font-size: 12px;
    margin-top: 20px;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    transition: background-color .5s ease;
    text-decoration: none;
}

.button:hover{
    background-color: #d3d3d3;
}



#container {
    width: 100%;
    height: 100vh;
   
    position: relative;
    
  }
  .herotext {
    color: #fff;
    display: grid;
    padding-top: 2%;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr; 
    grid-gap: 10px;
    grid-template-areas: 
            ". left right .";
    
    opacity: 1;
 position: absolute;


  }
  #container .herotext h2 {
    font-size: 3em;
  }
  #container #first {
    background: url("billeder/gradient.png") center no-repeat;
    background-size: cover;
            height: 100vh;
         
            
  }
  #container #second {
    
            height: 100vh;
            background: #4B79A1;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-size: cover;
            
  }
  #container #third {
   
            background: #403A3E;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background-size: cover;
            
  height: 100vh;
  }
  

  
  .slick-dots {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    z-index: 99;
    cursor: pointer;
    padding-top: 80vh;
  }
  .slick-dots li {
    margin: 0 0.25rem;
    z-index: 99;
    cursor: pointer;
  }
  .slick-dots button {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: white;
    opacity: .5;
    text-indent: -9999px;
    z-index: 99;
    cursor: pointer;
    outline: none;
  }
  .slick-dots li.slick-active button {
    background-color: red;
    z-index: 99;
  }


.slider {
  position: relative!important;
  height: 1vh!important;
  width: 100%!important;
  z-index: 99!important;
}  

.slick-list {
  overflow: visible!important;
  position: relative!important;
  z-index: 99!important;
}